/src/.vs
/src/Demo.ASP.Net.Web.Api.Versioning.Api/obj
/src/Demo.ASP.Net.Web.Api.Versioning.Api/bin
/src/packages

/src/Demo.ASP.Net.Web.Api.Versioning.Api/Demo.ASP.Net.Web.Api.Versioning.Api.csproj.user